body{
    width:auto;
    font-family:'Roboto';
    }
.logo_prem{width:70%;}
.image_rest{width:70rem;}
.bloc{
    margin: 0px;} 

.buttons{
    border:none; 
    background:linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    padding:15px 20px 15px 20px;
    color:white;
    text-decoration:none;
    cursor:pointer;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;} 
        
.buttons:hover {opacity: .8;}  

header{
    padding: 20px 26vw 20px 26vw;
    background-color: #f8f6f4;
    position: relative; 
    text-align:center;}

.bloc{
   padding: 0px;
} 

.bloc h2{
    font-weight: 400;
} 

.back i {
    color: black; 
    text-decoration: none; 
    font-size: 1.4em;
    position: absolute; left: 5vw; top: 35%;
} 
/*Meal title*/
.bloc_restaurant {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background-color: #f8f6f4;
    padding: 2vh 5vw 10vh 5vw; 
    margin-top: 25vh; 
    position: relative; z-index: 1;}

.image_restaurant{
    position: absolute; z-index: 0;
    width: 95%; 
    height:30vh;
    object-fit: cover;
    margin:0;
    padding:0;}

.bloc_restaurant h1 {
    font-family:'Shrikhand';
    font-size: 1.9rem;
    margin: 14px 0px 0px 0px;}

.nom_restaurant{
    display:flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: space-between;}

.coeur:hover i.fa-heart {
    display: none;
    }
    .coeur:hover i.fas.fa-heart {
    display: block;
    }
    .coeur {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    margin: 1.2rem 0 2rem 0rem;
    }

    i.fa-heart:hover {
    cursor: pointer;
    border: 0 solid transparent;
    }
    i.fas.fa-heart {
    display: none;
    background: linear-gradient(to bottom, #9356dc, #ff79da);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
    }

.choix_menu {
display:flex; 
   flex-direction: column;
    justify-content: unset;
width: 100%;
} 




/*Animations: apparation progressive des cartes menus*/
.menu{
 margin: 15px 0px 15px 0px; 
 border-radius:14px;
width:90vw;
background-color: white;box-shadow:2px 2px 8px 3px #e0e0e0;
cursor:pointer;
position: relative;
 display: flex; 
flex-direction: row;
align-items:center;
animation: fadein 0.7s forwards;
opacity: 0; 
}

.délai1{
    animation-delay: 0.35s;} 
    
    .délai2{
        animation-delay: 0.55s;}
    
    .délai3{
        animation-delay: 0.75s;} 
    
    .délai4{
        animation-delay: 0.95s;} 
    
    .délai5{animation-delay: 1.15s;}
    
    .délai6{animation-delay: 1.35s;}
    
    .délai7{animation-delay: 1.55s;}
    
    .délai8{animation-delay: 1.75s;} 
    
    .délai9{animation-delay: 1.95s;} 
    
    .délai10{animation-delay: 2.15s;} 


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
} 

.bloc_restaurant h2{
    padding-top:20px;
    margin-bottom: 3px;
}

.bloc_restaurant .trait_vert{
    width: 40px; 
    border:solid 2px #99E2D0;}

.menu h3, .menu p{
    margin: 8px 8px 8px 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
    
.détail_repas {
    padding: 0.35rem 0.2rem;
    overflow: hidden;
    width:82%;
}

.menu:hover .détail_repas{
    width: 60%;
}

.choix{
   background-color: #99E2D0;
	
    width: 0%;
    height:100%;
    margin:0px 0px 0px 0px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    position: absolute; 
    right: 0px;
    display:flex;
    visibility:hidden;
    align-items: center;
    justify-content: center;
    } 

.choix i{
   color:#99E2D0; 
	
    background-color: white;
    font-size:0;
    border-radius: 100%;
    padding: 0.32rem 0.3rem 0.2rem 0.3rem; 
}    

.titre_prix{
    padding: 3rem 0px 0.7rem 0px;
    margin-right:0px;
    margin-left: 5px;
    position: absolute; 
    right: 2%;
} 

.menu:hover .titre_prix{
  animation: translate_titre_prix 0.4s forwards;
}

@keyframes translate_titre_prix{
    0%{
     right:2%;
    }
    100%{
     right:24%;
    }
 }

.menu:hover .choix{
  animation: translate_choix 0.5s forwards;
  visibility: visible;
}

@keyframes translate_choix{
    0%{
        width:0%;    
    }
    100%{
        width:18%;
    }
}

.menu:hover .choix i{
    animation: choix_rotate 0.4s forwards;
}

@keyframes choix_rotate{
    0%{
        transform: rotate(0deg);
        font-size:0em;
    }
    100%{
        transform: rotate(360deg); 
        font-size: 0.8em;
    }
}

.order {text-align: center;
    padding-top: 40px;}

.order button{
    padding-left: 40px;padding-right:40px;}  

/*FOOTER*/
.footerContain 
{

margin-top: 40px;
padding: 20px 0px 25px 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.795);
}

.footerContain li 
{ 
    list-style-type: none; 
    margin-bottom: 5px;
}

.footerContain h3 
{
    font-family: 'Shrikhand';
    font-size:1.2rem;
    font-weight: 100;
    font-stretch: extra-expanded;
}

.footerContain i
{margin-right: 8px;}

.footerLinks a{text-decoration:none; color:white;}


/*Version Tablette*/ 

    @media all and (min-width:768px) and (max-width:1023px)
{    
    .choix_menu{
        flex-direction: column;
        justify-content: unset;
    } 
    
    .menu{
        width:90%;
   }
   .image_restaurant{
   
width: 99%;}
} 

/*Version pc*/ 
/*reponsive PC*/
@media screen and (min-width: 1280px) {
.image_restaurant{
   
width: 99%;}
.choix_menu{
 
	flex-direction:row;
justify-content: space-between;
}

.menu{
    width:27vw; max-width: 600px; }
}